


<div class="container">
    <app-navbar></app-navbar>
    
    <nav *ngIf = "_Router.url == '/home' || 
    _Router.url == '/popular' || 
    _Router.url == '/upcoming' || 
    _Router.url == '/toprated'" class="nav justify-content-center mt-5">
        <a routerLink= "home" routerLinkActive="active"  class="mx-1">Trending</a>
        /
        <a routerLink= "popular" routerLinkActive="active" class="mx-1"> Popular </a>
        /
        <a routerLink= "upcoming" routerLinkActive="active" class="mx-1"> Upcoming</a>
        /
        <a routerLink= "toprated" routerLinkActive="active" class="mx-1"> Top Rated</a>
        
    </nav>

    <router-outlet></router-outlet>
</div>
