
nav {
    margin-top: 150px !important;
    margin-bottom: 30px;
}


nav a {
    cursor: pointer;
    color: #fff;
    transition: all .3s;
    font-size: 17px;
 }

 @media (max-width: 568px) {
     nav {
         margin-bottom: 0;
     }
     nav a {
         font-size: 15px;
     }
 }
 
 nav a:hover {
    color: #2199E8;
 }
 
 nav a.active {
    font-weight: bolder;
    color: #2199E8;
 }