

.title::before {
   content: '';
   position: absolute;
   height: 1.5px;
   background-color: #a8a8a83d ;
   width: 25%;
   top: -28px;
   left: 0;
   border-radius: 5px;

}

.title::after {
   content: '';
   position: absolute;
   height: 1.5px;
   background-color: #a8a8a83d ;
   width: 100%;
   bottom: -28px;
   left: 0;
   border-radius: 5px;
}

.movie {
   cursor: pointer;
}

